
<% var en = path.indexOf("en/"); %>
<section class="overflow-hidden inverted border-bottom">
    <div class="py-20 d-flex flex-column container min-vh-100 foreground">
      <div class="row align-items-center justify-content-center justify-content-lg-between my-auto">
        <div class="col-lg-6 col-xl-5 text-center text-lg-start foreground mb-10 mb-lg-0">
          <h1 class="display-1 lh-sm">
            打造更加美好的万亿美元市值公司
          </h1>
          <p class="lead text-secondary my-4 fw-lg-75">
              Aomoxo Plan，Aomoxo 公司万亿美元市值方案，旨在用90%股份激发数万IT精英，打造一家更加美好的万亿美元市值公司。
          </p>
          <div class="row justify-content-center justify-content-lg-start g-1">
            <div class="col-auto">
              <a href="" class="btn btn-red rounded-pill text-white">
              加入我们
              </a>
            </div>
            <div class="col-auto">
                <a href="/chapter-1" class="btn btn-outline-white rounded-pill">阅读更多</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 position-relative">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible level-1">
            <div class="card-wrap">
              <img class="img-fluid aos-init aos-animate" src="/assets/images/coworking-7.jpg" alt="Image" data-aos="fade-up" data-aos-delay="200">
            </div>
          </div>
          <img class="position-absolute top-50 start-50 translate-middle" style="z-index:1" src="/assets/images/svg/shadow.svg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="py-15 py-xl-20 border-top inverted">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <span class="eyebrow text-red mb-2">为什么？</span>
          <h3 class="font-weight-bold mb-4">创造万亿美元市值的人才们，无权分享公司的巨大市值，是苹果、微软等公司的巨大遗憾，但对我们来说，则是创造历史的机遇。</h3>

        </div>
      </div>
    </div>
  </section>
  <section class="py-20 mx-lg-3 inverted overflow-hidden bg-red">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between ">
        <div class="col-lg-6 col-xl-5 text-white order-lg-2 mb-5 mb-lg-0">
          <span class="eyebrow text-muted mb-2">第一部分，前言</span>
          <h2 class="mb-5">让人才成为万亿美元市值最大受益者</h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              万亿美元市值，代表着极其巨大的财富，如果用来奖励有贡献的人才，则可以让十万人才成为身价千万美元的富豪。
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              不幸的是，股份一旦分配完毕几乎无法改变，即便市值已超过两万亿美元，人才们无权分享市值的状况依然不会有丝毫改变。
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>

              既然一个微小份额的股份就能给人才们带来巨大的财富，既然万亿美元市值能够让如此之多的人才成为亿万富豪，我们可否用未来“万亿美元市值财富”激励人才，打造一家全新的万亿美元市值公司呢？
              </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/chapter-1" class="btn btn-outline-white rounded-pill">阅读更多</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-1 aos-init" data-aos="fade-up">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid test" src="/assets/images/coworking-3.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20">
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-lg-6 col-xl-5 mb-5 mb-lg-0 inverted">
          <span class="eyebrow text-muted mb-2">第二部分，精英持股计划</span><h2 class="mb-5">用史上最多股份，造就史上最多亿万富豪</h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">1.</span> 股份不可能无中生有，把绝大多数股份给人才，必然意味着要减少创始人和投资者的股份。
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">2.</span>
              作为创始人，我们完全可以决定把多少股份贡献出来，而不需要征得任何人的同意。
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">3.</span>
              问题是，减少投资方股份会不会降低投资的热情，会不会给公司带来资金安全问题，我们是如何解决这一难题的呢？
            </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/chapter-2" class="btn btn-outline-white rounded-pill">阅读更多</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 aos-init" data-aos="fade-up">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid test" src="/assets/images/app-1.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20 mx-lg-3 inverted overflow-hidden bg-red">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between ">
        <div class="col-lg-6 col-xl-5 text-white order-lg-2 mb-5 mb-lg-0">
          <span class="eyebrow text-muted mb-2">第三部分，全新公司架构</span>
          <h2 class="mb-5">完全在互联网上，让全球人才加入变得简单无比</h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              您很难想象，这是一家多么理想化的创业公司。这里将不再有任何实物化的工作环境，数万精英将完全通过互联网网上上班。
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              无论身在中国大陆，还是遥远的美国硅谷，无论属于韩国日本印度，还是欧盟二十八国，成为爱梦想的一员，您都不需要离开家门半步，不需要离开已经熟悉的生活环境和所爱的人们。
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              最最重要的是，从加入我们的那一天开始，“you are free”！您将可以自由选择在世界任何喜欢的地方，一边过着自由浪漫的生活，一边追求非凡的亿万富豪梦想。
            </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/chapter-3" class="btn btn-outline-white rounded-pill">阅读更多</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-1 aos-init" data-aos="fade-up">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid test" src="/assets/images/startup-2.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20">
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-lg-6 col-xl-5 mb-5 mb-lg-0 inverted">
          <span class="eyebrow text-muted mb-2">第四部分，重写游戏规则</span><h2 class="mb-5">零成本创业模式和高效融资计划</h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">1.</span> 没有什么不可以改变！零成本创业模式，是对数十年来被无数创业者所遵循的游戏规则的重大革新，为Aomoxo方案付诸实施扫清了障碍。
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">2.</span> 可以动用的人才数量，不再受制于资金的瓶颈，我们将比任何一家创业公司能够以更快的速度建设起一支万人团队。
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">3.</span>零成本已经从机制上彻底铲除了产生资金链断裂等问题的“土壤”，创业历程有着极强的抗风浪能力。
            </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/chapter-4" class="btn btn-outline-white rounded-pill">阅读更多</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-1 aos-init aos-animate" data-aos="fade-up">
            <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
              <div class="card-wrap">
                <img class="img-fluid test" src="/assets/images/insta-4.jpg" alt="Image">
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="py-20 border-top inverted">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <blockquote class="blockquote">
            <span class="lh-1 fs-1 mb-0">"</span>
            <p class="fs-3 mb-4">只有那些<span class="text-red">相信自己能够改变世界</span>的疯子，才是真正可以改变世界的人。</p>
            <footer class="blockquote-footer">
              <span class="d-block lh-1 text-black"></span>
              <small>——  史蒂夫.乔布斯</small>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20 bg-red inverted overflow-hidden">
    <div class="container foreground">
      <div class="row justify-content-center mb-8">
        <div class="col-lg-8 text-center">
          <span class="eyebrow text-muted mb-2">第五部分，我们的使命</span><h2>成千上万个马斯克，成千上万个不可思议的创新项目改变世界</h2>
        </div>
      </div>
      <div class="row g-5 justify-content-center justify-content-lg-between align-items-center">
        <div class="col-lg-4 order-lg-1 aos-init" data-aos="fade-right">
          <ul class="list-unstyled text-center text-lg-end pe-lg-5">
            <li>
              <p class="fs-lg text-muted"><span class="text-white">世界还有太多需要改变，</span>对于深藏野心的精英而言，加入我们，只是刚刚站在万里远航的起点。</p>
            </li>
            <li class="mt-5">
              <p class="fs-lg text-muted"><span class="text-white">拥有数万名不甘平庸的持股精英，</span>我们不仅能够有信心，而且真正有实力去扮演拓荒者的角色，去做人们认为不可能的事情。
</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 order-lg-3 aos-init" data-aos="fade-left">
          <ul class="list-unstyled text-center text-lg-start ps-lg-5">
            <li>
              <p class="fs-lg text-muted"><span class="text-white">积极参与全球互联网IT领域的方方面面，</span>与实力强大的友商展开良性竞争，一起努力提升人类的幸福感。</p>
            </li>
            <li class="mt-5">
              <p class="fs-lg text-muted"><span class="text-white">深入人们生活的方方面面，</span>感受人们的不满和抱怨，倾听人们的渴望和梦想，并把这些不满，抱怨，渴望，梦想转化成解决方案。</p>
            </li>
          </ul>
          <div class="row  g-1 aos-init" data-aos="fade-left" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/chapter-5" class="btn btn-outline-white rounded-pill">阅读更多</a>
              </div>
          </div>
        </div>
        <div class="col-lg-4 order-lg-2">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid aos-init" src="/assets/images/coworking-7.jpg" alt="Image" data-aos="fade-up" data-aos-delay="100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="position-absolute top-100 start-50 translate-middle" src="/assets/images/svg/pattern-lg-light.svg" alt="Image">
  </section>
  <section class="py-15 py-xl-20 bg-black inverted">
    <div class="container">
      <div class="row justify-content-center my-auto">
        <div class="col-lg-8 text-center">
          <h2 class="mb-5">如果您不甘平庸，渴望与我们一起为非凡亿万富豪梦想而奋斗</h2>
          <div class="row justify-content-center g-1">

            <div class="col-auto">
              <a href="" class="btn btn-red rounded-pill">
              <span class="text-white">加入我们</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
