<section class="overflow-hidden inverted border-bottom">
    <div class="py-20 d-flex flex-column container min-vh-100 foreground">
      <div class="row align-items-center justify-content-center justify-content-lg-between my-auto">
        <div class="col-lg-6 col-xl-5 text-center text-lg-start foreground mb-10 mb-lg-0">
          <h1 class="display-1 lh-sm">
            Create a Better Trillion Dollar Market Cap Company
          </h1>
          <p class="lead text-secondary my-4 fw-lg-75">
              Aomoxo Plan, the company Aomoxo's Trillion Dollar Market Cap Plan, the essence of which is motivating tens of thousands of talents with 90% of the stock and together making Aomoxo a better trillion dollar market cap company.
          </p>
          <div class="row justify-content-center justify-content-lg-start g-1">
            <div class="col-auto">
              <a href="" class="btn btn-red rounded-pill text-white">
              Join Us
              </a>
            </div>
            <div class="col-auto">
                <a href="/en/chapter-1" class="btn btn-outline-white rounded-pill">
                  Read More
                </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 position-relative">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible level-1">
            <div class="card-wrap">
              <img class="img-fluid aos-init aos-animate" src="/assets/images/coworking-7.jpg" alt="Image" data-aos="fade-up" data-aos-delay="200">
            </div>
          </div>
          <img class="position-absolute top-50 start-50 translate-middle" style="z-index:1" src="/assets/images/svg/shadow.svg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="py-15 py-xl-20 border-top inverted">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <span class="eyebrow text-red mb-2">WHY?</span>
          <h3 class="font-weight-bold mb-4">
            Talents in companies like Apple and Google, have made trillions of dollars in market value for their companies, but still do not have the right to share the wealth they've created. This is such a pity for those companies, but an opportunity for us to make history.
          </h3>

        </div>
      </div>
    </div>
  </section>
  <section class="py-20 mx-lg-3 inverted overflow-hidden bg-red">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between ">
        <div class="col-lg-6 col-xl-5 text-white order-lg-2 mb-5 mb-lg-0">
          <span class="eyebrow text-muted mb-2">Chapter One, Foreword</span>
          <h2 class="mb-5">Make talents benefit the most from the trillion dollar market cap</h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              1/1,000 of the $1 trillion market cap, is worth $1 billion, and 1/10,000 is worth $100 millions,  and 1/100,000 is worth $10 millions.
              <!--A trillion dollar market cap represents an extremely huge amount of wealth. If it's put to use in rewarding the talents who have made big contributions, that would result in 100,000 talents each with the net worth of $10 millions.-->
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              Since one small portion can bring about such a huge amount of wealth, and $1 trillion market cap can make tens of thousands of people remarkably rich, then how about we use the wealth of a future "trillion dollar market cap" to motivate talents to create a new trillion dollar company?
              <!--But unfortunately, once the shares were distributed, they can hardly be changed. Even if the market value exceeded $2 trillions, the situation that talents have no right to share the market value will not change in the slightest.-->
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              To be precise, how about we use numerous 1/1000,  1/10000, and 1/100000 of the company, to attract and inspire tens of thousands of talents to start a business together, create a trillion dollar market cap company together,  share the trillion dollar market cap together, and become  "billionaires" together?
              <!--Since a small portion of shares can bring about such a huge amount of money, and since $1 trillion in market value can make so many talents become "billionaires", how about we use the wealth of a future “trillion dollar market value” as a incentive for the talents to create a new trillion dollar company?-->
              </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/en/chapter-1" class="btn btn-outline-white rounded-pill">Read More</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-1 aos-init" data-aos="fade-up">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid test" src="/assets/images/coworking-3.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20">
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-lg-6 col-xl-5 mb-5 mb-lg-0 inverted">
          <span class="eyebrow text-muted mb-2">Chapter Two, Talent Shareholding Plan</span>
          <h2 class="mb-5">Make the most "billionaires" of all time, with the most shares of all time</h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">
                1.
              </span>
              The words "stock option" shouldn't just be a lovely term that company managers like to throw around now and then, but should play an important role in stimulating talents' enthusiasm for work. Therefore, the shares allocated to each talent cannot be so meager that it doesn't matter to the talent at all.
              <!--Shares are valuable, non-renewable resources. Giving most of the shares to talents would means reducing the shares of founders and investors alike.-->
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">2.</span>
              Aomoxo Plan will distribute 90% of the company's stock among tens of thansands of talents, while making sure each talent owns enough shares that they have the potential to become a "billionaire", a dream worth fighting for.
              <!-- As founders, we have the absolute right to decide how many shares we'd contribute, without requiring anyone's consent. -->
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">3.</span>
              Aomoxo Plan is totally open and aboveboard with share distribution, everyone will always know exactly how much net worth they are fighting for: How much market cap can make their dreams of "billionaire" come true? How much will one's worth increase with each cilmb of the market value, $50 billions? $100 billions? $200 billions? $5000... ?
              <!-- The problem is, will reducing the investor’s shares, also reduce the enthusiasm of VPs, and will it bring about the company’s capital security issues, and how do we solve these problem? -->
            </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/en/chapter-2" class="btn btn-outline-white rounded-pill">Read More</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 aos-init" data-aos="fade-up">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid test" src="/assets/images/app-1.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20 mx-lg-3 inverted overflow-hidden bg-red">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between ">
        <div class="col-lg-6 col-xl-5 text-white order-lg-2 mb-5 mb-lg-0">
          <span class="eyebrow text-muted mb-2">Chapter Three, A Brand New Company Structure</span>
          <h2 class="mb-5">
            Running solely on the internet, it couldn't have been easier for talents worldwide to join Aomoxo
          </h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              It's hard to imagine a more idealistic startup company. No office buildings, no office space, nor any kind of physical facility and equipment. Tens of thousands of talents will be working entirely through the internet.
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              Whether you are from mainland China, or across the sea in Silicon Valley of the United States, whether you're a citizen of South Korea, Japan, India, or any of the 28 countries of the European Union, to become a member of Aomoxo, you don’t have to leave your home or your loved ones.
            </li>
            <li class="list-group-item d-flex align-items-start">
              <div class="icon-box bg-white rounded-circle me-2"><i class="bi bi-check2 text-black"></i>
              </div>
              Most importantly, from the day you join Aomoxo: You are free! Free to choose any place you like in the world to work and live in, free to enjoy your new romantic lifestyle, while boldly pursuing big dreams.
            </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/en/chapter-3" class="btn btn-outline-white rounded-pill">Read More</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-1 aos-init" data-aos="fade-up">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid test" src="/assets/images/startup-2.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20">
    <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between">
        <div class="col-lg-6 col-xl-5 mb-5 mb-lg-0 inverted">
          <span class="eyebrow text-muted mb-2">Part Four, Changing the Rules</span>
          <h2 class="mb-5">Zero Expense Model and Efficient Financing Plan</h2>
          <ul class="list-group list-group-minimal">
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">1.</span>
              Aomoxo will never use investors' money or borrow money to pay our stockholding members. Each dollar the talents get from Aomoxo, they must create first. Only when the company is making money, that everyone gets paid.
              <!-- Nothing is unchangeable! The zero-cost entrepreneurial model is a major innovation to the rules followed by countless entrepreneurs for decades, paving the way for the complete realization of the Aomoxo Plan. -->
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">2.</span>
              Although it's an epic undertaking having tens of thousands of talents together working to create a $1 trillion market cap, Aomoxo will have zero office expense, and will become a highly frugal startup that can be up and running at close to zero cost.
                <!-- Now recruting talents is no longer subjected to capital, we will be able to build a team of more than 10,000 people faster than any other startup company. -->
            </li>
            <li class="list-group-item d-flex align-items-center">
              <span class="display-2 fw-bold me-4 text-red w-10">3.</span>
              Aomoxo's Zero Expense Model has completely eradicated the root causes of problems like capital chain breakage. Our entrepreneurial process is capable of withstanding any storm that would come our way.
            </li>
          </ul>
          <div class="row  g-1" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/en/chapter-4" class="btn btn-outline-white rounded-pill">Read More</a>
              </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-1 aos-init aos-animate" data-aos="fade-up">
            <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
              <div class="card-wrap">
                <img class="img-fluid test" src="/assets/images/insta-4.jpg" alt="Image">
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section class="py-20 border-top inverted">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <blockquote class="blockquote">
            <span class="lh-1 fs-1 mb-0">"</span>
            <p class="fs-3 mb-4">
              People who are crazy enough to think that they can change the world, <span class="text-red">are the ones who do.</span></p>
            <footer class="blockquote-footer">
              <span class="d-block lh-1 text-black"></span>
              <small>——  Steve Jobs</small>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20 bg-red inverted overflow-hidden">
    <div class="container foreground">
      <div class="row justify-content-center mb-8">
        <div class="col-lg-8 text-center">
          <span class="eyebrow text-muted mb-2">
            Part Five, Our Mission
          </span>
          <h2>To change the world with thousands of "Elon Musks", and thousands of incredible projects</h2>
        </div>
      </div>
      <div class="row g-5 justify-content-center justify-content-lg-between align-items-center">
        <div class="col-lg-4 order-lg-1 aos-init" data-aos="fade-right">
          <ul class="list-unstyled text-center text-lg-end pe-lg-5">
            <li>
              <p class="fs-lg text-muted">
                <span class="text-white">The world still has too many things that need changing. </span>
                For the talents with real ambitions, joining Aomoxo is just the starting point of an adventure.
              </p>
            </li>
            <li class="mt-5">
              <p class="fs-lg text-muted">
                <span class="text-white">Aomoxo will have tens of thousands of talents who refuse to be mediocre, </span>
                allowing us not only to have confidence, but also the powers to play the role of pioneers and do the impossibles.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 order-lg-3 aos-init" data-aos="fade-left">
          <ul class="list-unstyled text-center text-lg-start ps-lg-5">
            <li>
              <p class="fs-lg text-muted">
                <span class="text-white">Aomoxo will be doing all kinds of innovations in the internet industry at a global scale, </span>
                starting healthy and friendly competitions with powerful adversaries, and together committed to improving the wellbeings of all humankind.
              </p>
            </li>
            <li class="mt-5">
              <p class="fs-lg text-muted">
                <span class="text-white">Aomoxo will be there in all aspects of people's lives, </span>
                feeling their dissatisfactions, listening to their complaints, their desires and dreams, and turning these dissatisfactions, complaints, desires, and dreams into new solutions, into new products.
              </p>
            </li>
          </ul>
          <div class="row  g-1 aos-init" data-aos="fade-left" style="margin-top: 50px;justify-content: flex-end;">
              <div class="col-auto">
                <a href="/en/chapter-5" class="btn btn-outline-white rounded-pill">Read More</a>
              </div>
          </div>
        </div>
        <div class="col-lg-4 order-lg-2">
          <div class="card equal-2-1 equal-lg-1-1 overflow-visible">
            <div class="card-wrap">
              <img class="img-fluid aos-init" src="/assets/images/coworking-7.jpg" alt="Image" data-aos="fade-up" data-aos-delay="100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="position-absolute top-100 start-50 translate-middle" src="/assets/images/svg/pattern-lg-light.svg" alt="Image">
  </section>
  <section class="py-15 py-xl-20 bg-black inverted">
    <div class="container">
      <div class="row justify-content-center my-auto">
        <div class="col-lg-8 text-center">
          <h2 class="mb-5">To the ones who refuse to be medicore and aspire for pursuing a beautiful "billionaire" dream with us</h2>
          <div class="row justify-content-center g-1">

            <div class="col-auto">
              <a href="" class="btn btn-red rounded-pill">
              <span class="text-white">Join Us!</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
